p Hello #{user.firstName},

p Someone with your email address requested for a password reset. If this was not you, you can ignore this reset link.

p Click the following #[a(href=resetUrl) link] to reset your password (expires in #{tokenExpiration}):
| #{resetUrl}

p If the link is not clickable, copy it and paste to the browser address bar.
